/*yarkb 公共样式*/

*{
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    /*font: 14px/22px  "Helvetica Neue", Helvetica ,'Microsoft Yahei', 'Open Sans', Arial, sans-serif;*/
    font-family:  'Microsoft Yahei',"Helvetica Neue", Helvetica , 'Open Sans', Arial, sans-serif;
}

body {
    line-height: 1;
    overflow-x: hidden;
    /*font-family: 'RL',"Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;*/
    font-family:  'Microsoft Yahei',"Helvetica Neue", Helvetica , 'Open Sans', Arial, sans-serif;
}
a{
    text-decoration: none;
}

/*txtcolor*/
.red,.color-red{color: #dc210a;}
.darkblue{color: #2d3c5e;}
.gold{color: #a28e5c;}
.black{color: white;}
.gray{color: #9b9a99;}
.white,.color-white{color: white;}
.color-gold{color: #917637;}

/*bgcolor*/
.bg-white{background-color: #fbfaf8;}
.bg-darkgray{background-color: #979797;}
.bg-lightgray{background-color: #dddfe4;}
.bg-gray{background-color: #c1c6ce;}
.bg-darkblue{background-color: #2d3c5e;}
.bg-gold{background-color: #a28e5c;}

/*position*/
.fl{float: left;}
.fr{float: right;}
.center{margin-left: auto;margin-right: auto;}

.mt10{margin-top: 10px;}
.mt12{margin-top: 12px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.mt78{margin-top: 78px;}
.mt120{margin-top: 120px;}

.ml70{margin-left: 70px}
.ml80{margin-left: 80px}
.ml95{margin-left: 95px}

.mr10{margin-right: 10px;}
.mr20{margin-right: 20px;}
.mr50{margin-right: 50px;}
.mr80{margin-right: 80px;}

.mb20{margin-bottom: 20px;}

.pt0{padding-top: 0;}
.pt12{padding-top: 12px;}
.pt20{padding-top: 20px;}
.pt22{padding-top: 22px;}
.pt30{padding-top: 30px;}
.pt40{padding-top: 40px;}
.pt50{padding-top: 50px;}
.pt80{padding-top: 80px;}
.pt100{padding-top: 100px;}

.h300{height: 300px;}
.h680{height: 680px;}

a{cursor: pointer}

/*font-size*/
.font12{font-size: 12px;}
.font14{font-size: 14px;}
.font18{font-size: 18px;}
.font20{font-size: 20px;}
.font24{font-size: 24px;}
.font26{font-size: 26px;}
.font28{font-size: 28px; line-height: 2em;}
.font50{font-size: 50px;}
.font58{font-size: 58px;}
.font70{font-size: 70px;}

ul li{list-style: none}

/*main*/
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    width: 299px;
    height: 100%;
    min-height: 600px;
    -webkit-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.sidebar-hidden {
    display: none;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*min-width: 960px;*/
    min-height: 600px;
    font: normal 12px 'RL';
    -webkit-font-smoothing: subpixel-antialiased;
}

a {
    text-decoration: none;
}

#home {
    padding-left: 0;
}
#home-grid {
    position: absolute;
    /*top: 40.8%;*/
    top: 390px;
    left: 50%;
    margin: -352px 0 0 -500px;
    width: 1000px;
    height: 704px;
}
#home-grid .gif {
    position: absolute;
    width: 108px;
    height: 108px;
    overflow: hidden;
}
#home-grid .gif-1 {
    top: 508px;
    left: 402px;
}
#home-grid .gif-2 {
    top: 286px;
    left: 509px;
}
#home-grid .gif-3 {
    top: 508px;
    left: 887px;
}
#home-grid .gif-4 {
    overflow: hidden;
}
#home-grid .pic1{
    top: 508px;
    left: 402px;
}
#home-grid .pic2{
    top: 286px;
    left: 509px;
}
#home-grid .pic3{
    top: 508px;
    left: 887px;
}
#home-grid .gif-4-container, #home-grid .gif-1-container,#home-grid .gif-2-container {
    position: absolute;
    top: -200%;
    left: -100%;
    width: 400%;
    height: 400%;
}
#home-grid  .img-1,#home-grid  .img-2,#home-grid  .img-3,#home-grid  .img-4,#home-grid  .img-5,#home-grid  .img-6,#home-grid  .img-7,#home-grid  .img-8,#home-grid  .img-9,#home-grid  .img-10 {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 25%;
}
#home-grid .gif-1-container .img-1, #home-grid .gif-2-container .img-1, #home-grid .gif-4-container .img-1 {
    top: 50%;
    left: 25%;
}
#home-grid .gif-1-container .img-2, #home-grid .gif-2-container .img-2, #home-grid .gif-4-container .img-2 {
    top: 50%;
    left: 50%;
}
#home-grid .gif-1-container .img-3, #home-grid .gif-2-container .img-3, #home-grid .gif-4-container .img-3 {
    top: 25%;
    left: 50%;
}
#home-grid .gif-1-container .img-4, #home-grid .gif-2-container .img-4{
    top: 25%;
    left: 75%;
}
#home-grid .gif-2-container .img-5 {
    top: 0%;
    left: 75%;
}
#home-grid .gif-1-container .img-6, #home-grid .gif-2-container .img-6, #home-grid .gif-4-container .img-6 {
    top: 0%;
    left: 50%;
}
#home-grid .gif-1-container .img-7, #home-grid .gif-2-container .img-7, #home-grid .gif-4-container .img-7 {
    top: 0%;
    left: 25%;
}
#home-grid .gif-1-container .img-8, #home-grid .gif-2-container .img-8, #home-grid .gif-4-container .img-8 {
    top: 25%;
    left: 25%;
}
#home-grid .gif-1-container .img-9, #home-grid .gif-2-container .img-9, #home-grid .gif-4-container .img-9 {
    top: 25%;
    left: 0%;
}
#home-grid .gif-1-container .img-10, #home-grid .gif-2-container .img-10, #home-grid .gif-4-container .img-10 {
    top: 50%;
    left: 0%;
}
#home-grid .gif-1-container .img-5 {
    top: 50%;
    left: 75%;
}
#home-grid .gif-4-container .img-4 {
    top: 75%;
    left: 50%;
}
#home-grid .gif-4-container .img-5 {
    top: 75%;
    left: 25%;
}
#home-grid .gif-5 {
    top: 556px;
    left: 738px;
}
#home-menu .menu {
    position: absolute;
    text-align: center;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    -ms-perspective: 500px;
    -o-perspective: 500px;
    perspective: 500px;
}
#home-menu .menu-title {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.5em;
}
#home-menu .menu-title .l1,#home-menu .menu-title .l2 {
    position: relative;
    display: block;
    -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#home-menu .menu-title .l1 {
    font-family: 'RL';
}
#home-menu .menu-title .l2 {
    font-family: 'RB';
}
#home-menu .cube-container,#home-menu .face-normal,#home-menu .face-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
#home-menu .face-normal,#home-menu .face-hover {
    overflow: hidden;
}
#home-menu .cube-container {
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#home-menu .menu-1 {
    top: 210px;
    left: 0;
    width: 265px;
    height: 300px;
    line-height: 300px;
}
#home-menu .menu-1 .cube-container {
    -webkit-transform: translateZ(-150px);
    -moz-transform: translateZ(-150px);
    -o-transform: translateZ(-150px);
    transform: translateZ(-150px);
    -ms-transform: translateZ(-150px);
}
#home-menu .menu-1 .face-normal {
    -webkit-transform: translateZ(150px);
    -moz-transform: translateZ(150px);
    -o-transform: translateZ(150px);
    transform: translateZ(150px);
    -ms-transform: translateZ(150px);
}
#home-menu .menu-1 .face-hover {
    -webkit-transform: rotateX(-90deg) translateZ(150px);
    -moz-transform: rotateX(-90deg) translateZ(150px);
    -o-transform: rotateX(-90deg) translateZ(150px);
    transform: rotateX(-90deg) translateZ(150px);
    -ms-transform: rotateX(-90deg) translateZ(150px);
}
#home-menu .menu-1 .face-hover .menu-title .l1 {
    top: -50px;
}
#home-menu .menu-1 .face-hover .menu-title .l2 {
    top: 50px;
}
#home-menu .menu-2 {
    top: 286px;
    left: 265px;
    width: 244px;
    height: 224px;
    line-height: 224px;
}
#home-menu .menu-2 .cube-container {
    -webkit-transform: translateZ(-122px);
    -moz-transform: translateZ(-122px);
    -o-transform: translateZ(-122px);
    transform: translateZ(-122px);
    -ms-transform: translateZ(-122px);
}
#home-menu .menu-2 .face-normal {
    -webkit-transform: translateZ(122px);
    -moz-transform: translateZ(122px);
    -o-transform: translateZ(122px);
    transform: translateZ(122px);
    -ms-transform: translateZ(122px);
}
#home-menu .menu-2 .face-hover {
    -webkit-transform: rotateY(90deg) translateZ(122px);
    -moz-transform: rotateY(90deg) translateZ(122px);
    -o-transform: rotateY(90deg) translateZ(122px);
    transform: rotateY(90deg) translateZ(122px);
    -ms-transform: rotateY(90deg) translateZ(122px);
}
#home-menu .menu-2 .face-hover .menu-title .l1 { left: -50px;}
#home-menu .menu-2 .face-hover .menu-title .l2 {left: 50px;}
#home-menu .menu-3 {
    top: 394px;
    left: 509px;
    width: 242px;
    height: 222px;
    line-height: 222px;
}
#home-menu .menu-3 .cube-container {
    -webkit-transform: translateZ(-111px);
    -moz-transform: translateZ(-111px);
    -o-transform: translateZ(-111px);
    transform: translateZ(-111px);
    -ms-transform: translateZ(-111px);
}
#home-menu .menu-3 .face-normal {
    -webkit-transform: translateZ(111px);
    -moz-transform: translateZ(111px);
    -o-transform: translateZ(111px);
    transform: translateZ(111px);
    -ms-transform: translateZ(111px);
}
#home-menu .menu-3 .face-hover {
    -webkit-transform: rotateX(-90deg) translateZ(111px);
    -moz-transform: rotateX(-90deg) translateZ(111px);
    -o-transform: rotateX(-90deg) translateZ(111px);
    transform: rotateX(-90deg) translateZ(111px);
    -ms-transform: rotateX(-90deg) translateZ(121px);
}
#home-menu .menu-3 .face-hover .menu-title .l1 {left: -50px;}
#home-menu .menu-3 .face-hover .menu-title .l2 {left: 50px;}
#home-menu .menu-4 {
    top: 286px;
    left: 751px;
    width: 244px;
    height: 224px;
    line-height: 224px;
}
#home-menu .menu-4 .cube-container {
    -webkit-transform: translateZ(-122px);
    -moz-transform: translateZ(-122px);
    -o-transform: translateZ(-122px);
    transform: translateZ(-122px);
    -ms-transform: translateZ(-122px);
}
#home-menu .menu-4 .face-normal {
    -webkit-transform: translateZ(122px);
    -moz-transform: translateZ(122px);
    -o-transform: translateZ(122px);
    transform: translateZ(122px);
    -ms-transform: translateZ(122px);
}
#home-menu .menu-4 .face-hover {
    -webkit-transform: rotateY(90deg) translateZ(122px);
    -moz-transform: rotateY(90deg) translateZ(122px);
    -o-transform: rotateY(90deg) translateZ(122px);
    transform: rotateY(90deg) translateZ(122px);
    -ms-transform: rotateY(90deg) translateZ(122px);
}
#home-menu .menu-4 .face-hover .menu-title .l1 { top: -50px;}
#home-menu .menu-4 .face-hover .menu-title .l2 { top: 50px;}

/*旋转方块相关颜色*/
#home-menu .menu { color: #fff;}
#home-menu .menu-1 .face-normal, #home-menu .menu-1 .face-hover { background-color: #f1f1f1;}
#home-menu .menu-2 .face-normal, #home-menu .menu-2 .face-hover { background-color: #e8ac6c;}
#home-menu .menu-3 .face-normal, #home-menu .menu-3 .face-hover { background-color: #c3252c;}
#home-menu .menu-4 .face-normal, #home-menu .menu-4 .face-hover { background-color: #bfc2c6;}
.menu-1 .cube-container .menu-title{color: #917637;}


#adn #box-content-1 {
    position: relative;
    height: 100%;
}
.slideshow {
    overflow: hidden;
}
.slideshow .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: center center no-repeat;
    background-size: cover;
    opacity: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.slideshow .photo:first-child {
    opacity: 1;
}

/*top-menu*/
.top-menu{
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    position: relative;
    z-index: 10000;
}
.top-menu-left{
    display: block;
    float: left;
    height: 100%;
    width: 450px;
}
.top-menu-right{
    display: block;
    float: right;
    height: 100%;
    width: 450px;
}
.top-menu-right .menu-up ul{
    float: right;
    font-size: 14px;
}
.top-menu-right .menu-up ul li{
    float: left;
    margin-left: 30px;
}
.top-menu-right .menu-up ul li a{
    color: #323232;
}
.top-menu-center{
    position: absolute;
    height: 100%;
    width: 20%;
    left: 40%;
    background: url("../images/logo.png") center center no-repeat;
}
.top-menu .menu-up{
    display: block;
    float: left;
    height: 70px;
    width: 450px;
}
.top-menu .menu-down{
    display: block;
    float: left;
    height: 60px;
    width: 450px;
}
.weather{
    display: block;
    float: left;
    height: 70px;
    width: 100px;
    font-family: 'RL',"Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}
.top-menu .top-menu-left .menu-up i{width: 80px;}
.top-menu .weather a{line-height: 35px; vertical-align: text-bottom}
.top-menu-left .menu-down li{
    font-size: 18px;
    float: left;
    margin: auto 10px;
    line-height: 50px;
    vertical-align: middle;
}
.top-menu-left .menu-down li i{
    font-size: 28px;
    vertical-align: top;
    margin: auto 3px;
}
.top-menu-right .menu-up {
    position: absolute;
}
.top-menu-right .menu-up li{
    display: block;
    position: relative;
    float: right;
    padding: 10px 20px;
}

/*login*/
.top img{
    padding-top: 30px;
    display: block;
    height: 100px;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
}
.top{height: 180px;}
.content{
    display: block;
    padding-top: 10px;
    width: 100%;
}
.login-content{height: 410px;}
.login-content h2{
    width: 150px;
    text-align: center;
    font-weight:100 ;
}
.input-content{
    position: inherit;
    width: 340px;
}
.input-bar .txt span{
    display: block;
    width: 36px;
}
/*.btn-tab{ position: relative;}*/
.btn-little,.btn-large{
    border-radius: 25px;
    -moz-border-radius: 25px;
    color: white;
    font-size: 18px;
    /*background-color: #e8ac6c;*/
    font-weight: 100;
}
.btn-small,.btn-big{
    height: 46px;
    border: 0;
    border-radius: 23px;
    -moz-border-radius: 23px;
    font-size: 18px;
    line-height: 46px;
    color: #ffffff;
}
.btn-little{
    padding: 14px 48px;
}
.btn-large{
    padding: 14px 70px;
}
.btn-small{width: 150px;}
.btn-big{width: 190px;}
.btn-tab a{
    height: 30px;
    float: right;
}
.content .btn-tab span{
    display: block;
    height:30px;
    width: 30px;
    float: right;
}
.btn-tab img{ position: absolute;}
.showstep{
    position: relative;
    width: 100%;
    height: 48px;
}
.showstep .showstep-content{
    position: absolute ;
    margin-left: 26%;
    width: 48%;
}
.showstep ul{
    position: relative;
    width: 33.333%;
    float: left;
}
.showstep .showstep-content ul li{
    list-style: none;
}
.showstep .step-list {
    display: block;
    float: left;
    width: 30%;
    height: 48px;
    line-height: 48px;
}
.showstep .showstep-content .step-list:last-child{margin-right: 0;}
.step-list span{
    display: block;
    float: left;
}
.step-list span:first-child{
    width: 50px;
    margin-right: 24px;
    text-align: center;
}
.showstep .ul-arrow{
    display: block;
    float: left;
    width: 5%;
}
.color-line{
    height: 3px;
    width: 100%;
}
.color-line span{
    display: block;
    float: left;
    height: 3px;
}
.txt{
    height:40px;
    font-size:100%;
    line-height:40px;
}
.txt label{
    filter:alpha(opacity=1);
    -moz-opacity:1;
    opacity:1;
}
.icon-txt{
    padding-left:6px;
    position:relative;
}
.icon-txt input{
    margin-left:36px;
    margin-right:4px;
    border:0;
    font-size:100%;
    vertical-align: middle;
    z-index: 10;
}
.input-content .input-bar span i{
    font-size: 29px;
    text-align: center;
    line-height: 50px;
    font-weight: 100;
}
.input-bar{
    width: 100%;
    /*height: 200px;*/
    height: inherit;
}
.input-bar div{ padding-top: 18px;}
.input-bar .icon-txt input{
    width:308px;
    height: 50px;
    margin-left: 50px;
    padding-left: 10px;
    line-height: 50px;
    text-align: left;
    background-color: rgba(255,255,255,0);
}
.input-bar input{
    position: absolute;
    top: 15px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
}
.input-bar input:focus{
    border: 0;
    outline: medium;
}
.username{
    display: block;
    float: left;
    height: 46px;
}
.username input{
    height: 100%;
    width: 300px;
    border: 0;
    padding: 5px 0 0 5px;
}
.apply-content{
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    height: 360px;
}
.apply-up{
    width: 100%;
}
.apply-up-3{
    display: block;
    float: left;
    width: 250px;
    margin-right: 50px;
    height: 66px;
}
.apply-up-3 div{
    display: block;
    height: 100%;
    text-align: center;
    cursor: pointer;
}
.apply-up-3 div .list-de{
    padding-top: 10px;
}
.apply-up-3:last-child{margin-right: 0;}
.apply-up-3-right{
    float: right;
    width: 64px;
}
.apply-up-3 .apply-up-3-left{
    float: left;
    width: 184px;
    height: 40px;
}
.apply-up-3-right span{
    height: 50px;
    margin-top: 8px;
    line-height: 66px;
    font-size: 24px;
    vertical-align: middle;
    text-align: center;
}
.login-content .apply-content .apply-down{
    /*width: 350px;*/
    width: 350px;
    height: 80px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;

}

/*begin apply child=2*/
.apply-up-2{
    display: block;
    float: left;
    width: 330px;
    /*margin-right: 180px;*/
    height: 66px;
}
.apply-up-2 div{
    display: block;
    height: 100%;
    text-align: center;
    cursor: pointer;
}
.apply-up-2 div .list-de{
    padding-top: 10px;
}
.apply-up-2:first-child{
    display: block;
    float: left;
}
.apply-up-2:last-child{
    display: block;
    float: right;
}
.apply-up-2-right{
    float: right;
    width: 64px;
}
.apply-up-2 .apply-up-2-left{
    float: left;
    /*width: 260px;*/
    width: 230px;
    padding-left: 30px;
    text-align: left;
    height: 40px;
}
.apply-up-2-right span{
    height: 50px;
    margin-top: 8px;
    line-height: 66px;
    font-size: 24px;
    vertical-align: middle;
    text-align: center;
}
/*end apply child=2*/
.apply-content-left{
    display: table;
    float: left;
    width: 340px;
}
.apply-content-right{
    display: table;
    float: right;
    width: 340px;
}
.input-content{
    /*width:300px;*/
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
}
.login-content-other{
    width: 50%;
    /*height: 70px;*/
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
}
/*.login-content-other span{margin-top: 20px;}*/
.login-content-other a{
    color: #959395;
    padding: 20px;
}
.login-content .input-content form{height: 200px;}
.search404 span,.collect404 span{
    display: block;
    width: 500px;
    height: 183px;
    padding-top: 230px;
    margin: auto;
}
.search404 p,.collect404 p{display: block;text-align: center;line-height: 2;}
.searchbar{
    display: block;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background: #ccc;
}
.search-result .sr-num{text-align: right}
.sr-result{
    display: table;
    height: auto;
}
.sr-page{
    display: table;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.sr-page a{
    display: block;
    float: left;
    margin: 0 20px;
    margin-top: 14px;
    height: 8px;
    width: 36px;
    /*line-height: 36px;*/
}
.sr-page a.active{}
/*hover变大*/
/*.sr-page a:hover{margin-top: 0;padding-top: 14px;padding-bottom: 14px;}*/