
#home {
    padding-left: 0;
}
#home-grid {
    position: absolute;
    /*top: 40.8%;*/
    top: 390px;
    left: 50%;
    margin: -352px 0 0 -500px;
    width: 1000px;
    height: 704px;
}
#home-grid .gif {
    position: absolute;
    width: 108px;
    height: 108px;
    overflow: hidden;
}
#home-grid .gif-1 {
    top: 508px;
    left: 402px;
}
#home-grid .gif-2 {
    top: 286px;
    left: 509px;
}
#home-grid .gif-3 {
    top: 508px;
    left: 887px;
}
#home-grid .gif-4 {
    overflow: hidden;
}
#home-grid .pic1{
    top: 508px;
    left: 402px;
}
#home-grid .pic2{
    top: 286px;
    left: 509px;
}
#home-grid .pic3{
    top: 508px;
    left: 887px;
}
#home-grid .gif-4-container, #home-grid .gif-1-container,#home-grid .gif-2-container {
    position: absolute;
    top: -200%;
    left: -100%;
    width: 400%;
    height: 400%;
}
#home-grid  .img-1,#home-grid  .img-2,#home-grid  .img-3,#home-grid  .img-4,#home-grid  .img-5,#home-grid  .img-6,#home-grid  .img-7,#home-grid  .img-8,#home-grid  .img-9,#home-grid  .img-10 {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 25%;
}
#home-grid .gif-1-container .img-1, #home-grid .gif-2-container .img-1, #home-grid .gif-4-container .img-1 {
    top: 50%;
    left: 25%;
}
#home-grid .gif-1-container .img-2, #home-grid .gif-2-container .img-2, #home-grid .gif-4-container .img-2 {
    top: 50%;
    left: 50%;
}
#home-grid .gif-1-container .img-3, #home-grid .gif-2-container .img-3, #home-grid .gif-4-container .img-3 {
    top: 25%;
    left: 50%;
}
#home-grid .gif-1-container .img-4, #home-grid .gif-2-container .img-4{
    top: 25%;
    left: 75%;
}
#home-grid .gif-2-container .img-5 {
    top: 0%;
    left: 75%;
}
#home-grid .gif-1-container .img-6, #home-grid .gif-2-container .img-6, #home-grid .gif-4-container .img-6 {
    top: 0%;
    left: 50%;
}
#home-grid .gif-1-container .img-7, #home-grid .gif-2-container .img-7, #home-grid .gif-4-container .img-7 {
    top: 0%;
    left: 25%;
}
#home-grid .gif-1-container .img-8, #home-grid .gif-2-container .img-8, #home-grid .gif-4-container .img-8 {
    top: 25%;
    left: 25%;
}
#home-grid .gif-1-container .img-9, #home-grid .gif-2-container .img-9, #home-grid .gif-4-container .img-9 {
    top: 25%;
    left: 0%;
}
#home-grid .gif-1-container .img-10, #home-grid .gif-2-container .img-10, #home-grid .gif-4-container .img-10 {
    top: 50%;
    left: 0%;
}
#home-grid .gif-1-container .img-5 {
    top: 50%;
    left: 75%;
}
#home-grid .gif-4-container .img-4 {
    top: 75%;
    left: 50%;
}
#home-grid .gif-4-container .img-5 {
    top: 75%;
    left: 25%;
}
#home-grid .gif-5 {
    top: 556px;
    left: 738px;
}
#home-menu .menu {
    position: absolute;
    text-align: center;
    -webkit-perspective: 500px;
    -moz-perspective: 500px;
    -ms-perspective: 500px;
    -o-perspective: 500px;
    perspective: 500px;
}
#home-menu .menu-title {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.5em;
}
#home-menu .menu-title .l1,#home-menu .menu-title .l2 {
    position: relative;
    display: block;
    -webkit-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#home-menu .menu-title .l1 {
    font-family: 'RL';
}
#home-menu .menu-title .l2 {
    font-family: 'RB';
}
#home-menu .cube-container,#home-menu .face-normal,#home-menu .face-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
#home-menu .face-normal,#home-menu .face-hover {
    overflow: hidden;
}
#home-menu .cube-container {
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#home-menu .menu-1 {
    top: 210px;
    left: 0;
    width: 265px;
    height: 300px;
    line-height: 300px;
}
#home-menu .menu-1 .cube-container {
    -webkit-transform: translateZ(-150px);
    -moz-transform: translateZ(-150px);
    -o-transform: translateZ(-150px);
    transform: translateZ(-150px);
    -ms-transform: translateZ(-150px);
}
#home-menu .menu-1 .face-normal {
    -webkit-transform: translateZ(150px);
    -moz-transform: translateZ(150px);
    -o-transform: translateZ(150px);
    transform: translateZ(150px);
    -ms-transform: translateZ(150px);
}
#home-menu .menu-1 .face-hover {
    -webkit-transform: rotateX(-90deg) translateZ(150px);
    -moz-transform: rotateX(-90deg) translateZ(150px);
    -o-transform: rotateX(-90deg) translateZ(150px);
    transform: rotateX(-90deg) translateZ(150px);
    -ms-transform: rotateX(-90deg) translateZ(150px);
}
#home-menu .menu-1 .face-hover .menu-title .l1 {
    top: -50px;
}
#home-menu .menu-1 .face-hover .menu-title .l2 {
    top: 50px;
}
#home-menu .menu-2 {
    top: 286px;
    left: 265px;
    width: 244px;
    height: 224px;
    line-height: 224px;
}
#home-menu .menu-2 .cube-container {
    -webkit-transform: translateZ(-122px);
    -moz-transform: translateZ(-122px);
    -o-transform: translateZ(-122px);
    transform: translateZ(-122px);
    -ms-transform: translateZ(-122px);
}
#home-menu .menu-2 .face-normal {
    -webkit-transform: translateZ(122px);
    -moz-transform: translateZ(122px);
    -o-transform: translateZ(122px);
    transform: translateZ(122px);
    -ms-transform: translateZ(122px);
}
#home-menu .menu-2 .face-hover {
    -webkit-transform: rotateY(90deg) translateZ(122px);
    -moz-transform: rotateY(90deg) translateZ(122px);
    -o-transform: rotateY(90deg) translateZ(122px);
    transform: rotateY(90deg) translateZ(122px);
    -ms-transform: rotateY(90deg) translateZ(122px);
}
#home-menu .menu-2 .face-hover .menu-title .l1 { left: -50px;}
#home-menu .menu-2 .face-hover .menu-title .l2 {left: 50px;}
#home-menu .menu-3 {
    top: 394px;
    left: 509px;
    width: 242px;
    height: 222px;
    line-height: 222px;
}
#home-menu .menu-3 .cube-container {
    -webkit-transform: translateZ(-111px);
    -moz-transform: translateZ(-111px);
    -o-transform: translateZ(-111px);
    transform: translateZ(-111px);
    -ms-transform: translateZ(-111px);
}
#home-menu .menu-3 .face-normal {
    -webkit-transform: translateZ(111px);
    -moz-transform: translateZ(111px);
    -o-transform: translateZ(111px);
    transform: translateZ(111px);
    -ms-transform: translateZ(111px);
}
#home-menu .menu-3 .face-hover {
    -webkit-transform: rotateX(-90deg) translateZ(111px);
    -moz-transform: rotateX(-90deg) translateZ(111px);
    -o-transform: rotateX(-90deg) translateZ(111px);
    transform: rotateX(-90deg) translateZ(111px);
    -ms-transform: rotateX(-90deg) translateZ(121px);
}
#home-menu .menu-3 .face-hover .menu-title .l1 {left: -50px;}
#home-menu .menu-3 .face-hover .menu-title .l2 {left: 50px;}
#home-menu .menu-4 {
    top: 286px;
    left: 751px;
    width: 244px;
    height: 224px;
    line-height: 224px;
}
#home-menu .menu-4 .cube-container {
    -webkit-transform: translateZ(-122px);
    -moz-transform: translateZ(-122px);
    -o-transform: translateZ(-122px);
    transform: translateZ(-122px);
    -ms-transform: translateZ(-122px);
}
#home-menu .menu-4 .face-normal {
    -webkit-transform: translateZ(122px);
    -moz-transform: translateZ(122px);
    -o-transform: translateZ(122px);
    transform: translateZ(122px);
    -ms-transform: translateZ(122px);
}
#home-menu .menu-4 .face-hover {
    -webkit-transform: rotateY(90deg) translateZ(122px);
    -moz-transform: rotateY(90deg) translateZ(122px);
    -o-transform: rotateY(90deg) translateZ(122px);
    transform: rotateY(90deg) translateZ(122px);
    -ms-transform: rotateY(90deg) translateZ(122px);
}
#home-menu .menu-4 .face-hover .menu-title .l1 { top: -50px;}
#home-menu .menu-4 .face-hover .menu-title .l2 { top: 50px;}

/*旋转方块相关颜色*/
#home-menu .menu { color: #fff;}
#home-menu .menu-1 .face-normal, #home-menu .menu-1 .face-hover { background-color: #f1f1f1;}
#home-menu .menu-2 .face-normal, #home-menu .menu-2 .face-hover { background-color: #e8ac6c;}
#home-menu .menu-3 .face-normal, #home-menu .menu-3 .face-hover { background-color: #c3252c;}
#home-menu .menu-4 .face-normal, #home-menu .menu-4 .face-hover { background-color: #bfc2c6;}
.menu-1 .cube-container .menu-title{color: #917637;}