/*yarkb for 夜晚版*/

/*color*/
.color-red{color: #dc210a;}
.color-gold{color: #917637;}
.color-white{color: #fff;}

/*旋转方块相关*/
#home-menu .menu { color: #fff;}
#home-menu .menu-1 .face-normal, #home-menu .menu-1 .face-hover { background-color: #f1f1f1;}
#home-menu .menu-2 .face-normal, #home-menu .menu-2 .face-hover { background-color: #e8ac6c;}
#home-menu .menu-3 .face-normal, #home-menu .menu-3 .face-hover { background-color: #c3252c;}
#home-menu .menu-4 .face-normal, #home-menu .menu-4 .face-hover { background-color: #bfc2c6;}
.menu-1 .cube-container .menu-title{color: #917637;}

html{
    background: #25293a url("../images/night/bgcolor.png") top left repeat-x;
}
body{
    /*background:  url("../images/demo-bg.jpg") top center no-repeat;*/
}

.top-menu{
    background: url("../images/night/star-night.png")top center no-repeat;
}
.weather{color: rgba(255,255,255,.5)}
.weather a{color: rgba(255,255,255,.5)}
.weather a i{color: #6f5f5c}
.weather a:hover{color: rgba(255,255,255,.7)}
.top-menu-left .menu-down li a{color: #ffffff}