/*yarkb 响应*/

@media screen and (min-width: 1080px) {
    #home-menu .menu:hover .menu-title .l1,#home-menu .menu:hover .menu-title .l2 {
        top: 0 !important;
        left: 0 !important;
    }

    #home-menu .menu-1:hover .cube-container {
        -webkit-transform: translateZ(-150px) rotateX(90deg);
        -moz-transform: translateZ(-150px) rotateX(90deg);
        -o-transform: translateZ(-150px) rotateX(90deg);
        transform: translateZ(-150px) rotateX(90deg);
        -ms-transform: translateZ(-150px) rotateX(90deg);
    }

    #home-menu .menu-2:hover .cube-container {
        -webkit-transform: translateZ(-122px) rotateY(-90deg);
        -moz-transform: translateZ(-122px) rotateY(-90deg);
        -o-transform: translateZ(-122px) rotateY(-90deg);
        transform: translateZ(-122px) rotateY(-90deg);
        -ms-transform: translateZ(-122px) rotateY(-90deg);
    }

    #home-menu .menu-3:hover .cube-container {
        -webkit-transform: translateZ(-111px) rotateX(90deg);
        -moz-transform: translateZ(-111px) rotateX(90deg);
        -o-transform: translateZ(-111px) rotateX(90deg);
        transform: translateZ(-111px) rotateX(90deg);
        -ms-transform: translateZ(-111px) rotateX(90deg);
    }

    #home-menu .menu-4:hover .cube-container {
        -webkit-transform: translateZ(-122px) rotateY(-90deg);
        -moz-transform: translateZ(-122px) rotateY(-90deg);
        -o-transform: translateZ(-122px) rotateY(-90deg);
        transform: translateZ(-122px) rotateY(-90deg);
        -ms-transform: translateZ(-122px) rotateY(-90deg);
    }
}
@media(max-width: 1500px){
    .showstep .showstep-content{
        width: 66%;
        margin-left: 17%;
    }
    /*.input-bar{*/
        /*width: 80%;*/
        /*margin-left: 10%;*/
    /*}*/
}
@media(max-width: 1090px){
    .showstep .showstep-content,.apply-content{
        width: 90%;
        margin-left: 5%;
    }
    .apply-up-3{
        width: 27%;
        margin: auto 3%;
    }
    .apply-up-3 .apply-up-3-left{
        width: 72%;
    }
    /*.apply-content{*/
        /*width: 70%;*/
    /*}*/
}
@media(max-width: 1024px) {
    .login-content{
        display: block;
        /*padding-top: 30%;*/
    }
}
@media(max-width: 962px){
    .apply-up-3{
        width: 29%;
        margin: auto 2%;
    }
    .apply-up-3 .apply-up-3-left{
        width: 72%;
    }
}
@media(max-width: 900px) {
    .showstep .showstep-content,.apply-content{
        width: 94%;
        margin-left: 3%;
    }
}
@media(max-width: 860px){
    .apply-up-3 .apply-up-3-left{
        width: 68%;
    }
    .showstep .showstep-content, .apply-content{
        width: 98%;
        margin-left: 1%;
    }
    .step-bg{margin-right: 12px;}
    /*.apply-up-2{width: 300px;}*/
    /*.apply-up-2-left{width: 180px;}*/
}
@media(max-width: 768px){
    html{ overflow-y: visible;}
    /*body{background: }*/
    .top{ height: 110px!important;}
    .top img{width: 105px; height: 75px;}
    .input-bar{ height: 180px;}
    /*.login-content{height: 300px;}*/
    .btn-little,.btn-large{font-size: 22px;}
    .btn-little{
        padding: 10px 28px;
    }
    .btn-large{
        padding: 10px 50px;
    }
    .input-bar{
        height: 170px!important;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .color-line span:first-child{
        width: 25%;
    }
    .color-line span:nth-child(2){
        width: 50%;
    }
    .color-line span:nth-child(3){
        width: 25%;
    }
    .login-content-other span{
        position: absolute;
        left: 50%;
    }
    .apply-content{
        position: inherit;
        height: auto;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .input-bar .icon-txt input{width: 240px;}
    .input-bar input{background: url(../images/night/input-normal-2-night.png) left bottom no-repeat;}
    .input-bar input:focus{background: url(../images/night/input-active-2-night.png) left bottom no-repeat;}
    .h300{height: 300px;}
    .h500{height: 500px;}
    .h680{height: 680px;}
    .showstep .step-list{ width: 100%; }
    .login-content .apply-content .apply-down{width: 300px;}
    .apply-up-3{
        margin: auto 0 25px 10px;
        width: 280px;
    }
    .apply-up-3 .apply-up-3-left{width: 210px;}
}
@media (max-width: 530px) {
    .login-content-other{width: 300px;}
}
@media(max-width: 400px) {
    .input-bar{
        width: 300px;
    }
    .input-bar .icon-txt input{
        width:280px;
        text-align: left;
    }
}
